body {
    margin: 0;
}

html, body {
    overflow: hidden;
}

.blue {
    color: #1f51ff;
}

.orange {
    color: #ff5c00;
}

.splashscreen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 15vw;
    color: #dddddd;
}

.infotext {
    font-size: 2vw;
    color: #dddddd;
}

.playbutton {
    border-radius: 10px;
    border: 5px, dotted, #dddddd;
    padding: 5px;
    font-size: 8vw;
    margin-top: 2vw;
    background-color: #000000;
    color: #2a2a2a;
}

.playbutton a {
    text-decoration: none;
    transition-duration: 200ms;
}

.playbutton :hover{
    font-size: 9vw;
    transition-duration: 200ms;
}

.returnbutton {
    position: fixed;
    bottom: 5vh;
    margin-left: 28vw;
}

.returnbutton a {
    color: #aaaaaa;
}